# Local Libraries and Modules Downloaded Externally

patchbay.png

webmapper/

linux-4.19.31/

jack-volume/

Sons/ESTRUTURAS

Sons/MADRIGAL_materiais

Sons/Vasos_Camila

Sons/Vozes_Luana_BRC_Estudios

Sons/MADRIGALE_a_sei_vasi_REVISADO.scd
