# Local Libraries and Modules Downloaded Externally

patchbay.png

webmapper/

linux-4.19.31/

jack-volume/

Sons/ESTRUTURAS

Sons/MADRIGAL_materiais

Sons/Vasos_Camila

Sons/Vozes_Luana_BRC_Estudios

Sons/MADRIGALE_a_sei_vasi_REVISADO.scd

Sons/Vozes_Mistro

Sons/Ceramicas_Amanda

Patches/SC/- dt base.scd

Patches/SC/01OsciladoresControladores.scd
Patches/SC/02Sintetizadores.scd
Patches/SC/03Tipos_de_Synths_Ndef_&Pbind.scd
Patches/SC/04Rotinas.scd
Patches/SC/05Gravacao.scd
Patches/SC/06Sequenciando.scd
Patches/SC/BufGen_PECA_MONACO_studio_A.sc
Sons/Short/
Sons/Tratados/

